#main_footer
    padding: 2.5em 0
    text-align: center
    .logo
        text-transform: uppercase
        font-size: 1.15em
        font-weight: 700
        span
            font-weight: 300
            color: $highlight

    .copyright
        color: $secondary
        font-size: .75em
        margin-bottom:  0.7em

    .links
        display: inline
        a
            color: $secondary
            text-decoration: none
            font-size: .75em
            font-weight: 700
            margin: 0 .5em
            &:hover
                color: $highlight

      
@media screen and (max-width: 768px)
    #main_nav
        display: none
    #main_nav.active
        display: block
        width: 100%
        a
            display: block
            padding: 1em 0
            border-bottom: 1px solid #E9E9E9
            &:last-child
                border-bottom: none
    .menu
        display: block
        float: right
        i
            font-size: 1.5em
            color: $main
            padding-top: .6em
    #banner
        padding: 3.5em 0
        #poster
            width: 250px
            .play_button
                width: 60px
                margin: -30px 0 0 -30px

        #content
            margin-left: 50px
            .title
                font-size: 1.5em
            .ratings
                i
                font-size: 1em
            .description
                font-size: .9em
            .info
                font-size: .7em
                margin-top: 2em
                span
                margin: 0 .25em

    #top_movies, #top_shows
        padding: 3em 0
        header
            padding: 0 0 1.5em 1.25%
            h2
                font-size: 1.5em
            .view_more
                margin: .75em 2.25% 0 0
    .row
        .post
            width: 30.6%
            margin: 0 1.25% 2em 1.25%
            .title
                font-size: 1em
                margin: 5em 0 0 0
            .post_info
                font-size: .65em